*
{
    font-family: 'Nunito Sans',sans-serif;
}

.slideshow-container {
    height: 600px;
    position: relative;
  }
.slidingImg
{
    height: 600px;
    box-sizing: border-box;
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/* #p1
{
    text-decoration: line-through;
} */
.p2
{
    text-decoration: line-through;
    font-size: 20px;
    padding-left: 15px;
    font-style: bold;
}
.mainpara
{
    font-size: 30px;
}
.lm
{
    padding-left: 15px;
}
#lm2
{
    padding-left: 15px;
  /* color: white; */
}
.spla
{
    color: white;
}
.spla1
{
    color: white;
    text-decoration: none;
}
.mainimg
{
   width: 100%;
    max-height: 100%;
}
.text
{
    margin-top: -350px;
    margin-left: 200px;
    color: black;
    /* line-height: 7px; */
}
.twhite
{
    color: white
}

.p1
{
    padding-top: 8px;
}
.paradiv
{
    margin-top: -15px;
    line-height: 10px;
}
.intext
{
    display: inline-flex;
    margin-top: -20px;
}
.intext1
{
    display: flex;
    margin-top: -10px;
}
.btn1
{
    height: 40px;
    width: 80px;
    background-color: black;
    color: white;
    border: none;
}
#mainimg1
{
    width: 100%;
    max-height: 100%;
}
#p11
{
    font-size: 12px;
    color: grey;
}
#text22
{
    color: white;
    margin-top: -330px;
    margin-left: 200px;
}
#mid
{
    
    height: 240px;
    /* display: grid; */

    display: flex;
}
.smp
{
    font-size: 40px;
    padding-left: 18px;
    margin-top: -5px;
}
.sma
{
    margin-top: -5px;
    padding-right: 17px;
}
.imgp
{
    font-weight: bold;
    font-size: 15px;
}
.imgp1
{
    font-size: 14px;
}
#mid>img
{
    width: 30%;
    height: 76%;
    padding-top: 50px;
    padding-left: 50px;
}
#text1
{
    width: 66%;
    height: 55%;
  margin-top: 50px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
#text1>div
{
    /* border: 1px solid purple; */
    color: white;
    line-height: 15px;
}
#text1>div:nth-child(1)
{
    padding-top: 20px;
}
#text1>div:nth-child(2)
{
    padding-top: 35px;
}
#lm1
{
    width: 130px;
    height: 50px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3px;
    font-size: 18px;
}
#smartphones
{
    height: 130px;
    background-color: 
    #f7f7f7;
    display: flex;
    justify-content: space-between;
}
#smartphones>div:nth-child(1)
{
    padding-top: 40px;
    padding-left: 40px;
}
#smartphones>div:nth-child(2)
{
    padding-top: 55px;
    padding-right: 40px;
    text-decoration: underline;
    
}
a
{
    color: black;
}
#smartphones1
{
    height: 1400px;
    background-color: #f7f7f7;
    /* display: grid; */
}
#sm11
{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    height: 600px;
}
#imgdiv1
{
    /* border: 1px solid purple; */
    height: 100%;
    width: 40%;
    box-sizing: border-box;
    margin-left: 10px;
}
#imgdiv1>img
{
    max-width: 100%;
    max-height: 70%;
    padding-left: 10%;
}
#imgdiv1>h3, #imgdiv1>p,#imgdiv2>h3,#imgdiv2>p
{
    padding-left: 50px;
}
#imgdiv1>button, #imgdiv2>button
{
    margin-left: 50px;
}
#imgdiv2
{
    /* border: 1px solid red; */
    width: 60%;
}
#imgdiv2>img
{
    max-width: 100%;
    max-height: 70%;
    padding-left: 7%;
    padding-right: 10px;
}
#sm12
{
    /* border: 1px solid red; */
    height: 50%;
    display: flex;
    margin-top: 70px;
}
#imgdiv3
{
    width: 56%;
    /* border: 1px solid purple; */
    height: 100%;
    padding-left: 5%;
}
#imgdiv3>img
{
    max-width: 100%;
    max-height: 70%;
    /* padding-left: 1%; */
    /* padding-right: 7px; */
}
#imgdiv4
{
    width: 40%;
    height: 100%;
    padding-left: 13%;
    /* padding-right: 5%; */
}
#imgdiv4>img
{
    max-width: 120%;
    max-height: 60%;
    /* padding-left: 10%; */
}
#iotprod
{
    height: 130px;
    display: flex;
    justify-content: space-between;
}
#iotprod>div:nth-child(1)
{
    padding-top: 40px;
    padding-left: 40px;
}
#iotprod>div:nth-child(2)
{
    padding-top: 55px;
    padding-right: 40px;
    text-decoration: underline;
}
#iotprodimg
{
    display: flex;
    height: 600px;
}
#iotp1
{
    width: 40%;
  
}
#iotp1>img
{
    width: 70%;
    height: 70%;
    padding-left: 56px;
}
#iotp1>div
{
    padding-top: -5px;
    height: 29%;
    width: 70%;
    margin-left: 56px;
    line-height: 10px;
}
#iotp11
{
    display: flex;
}
.samebtn
{
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    height: 35px;
    border-radius: 2px;
}
#iotp2
{
    width: 60%;
   
}
#iotp2>img
{
    width: 93%;
    height: 70%;
    padding-left: 70px;
}
#iotp21
{
    display: flex;
    /* text-decoration: none; */
}
/* #iotp21>button
{
    width: 90px;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
} */
#iotp2>div
{
    padding-top: -5px;
    height: 29%;
    width: 70%;
    margin-left: 70px;
    line-height: 10px;
   
}
#exploreoppo
{
    height: 600px;
    background-color: #c0a69a;
    box-sizing: border-box;
     /* display: grid;
     grid-template-columns: repeat(3,1fr);
    grid-row: auto; */
  
}
#exploreoppo>p
{
    padding-left: 60px;
    padding-top: 120px;
    font-size: 30px;
}
#e1
{
    width: 90%;
    height: 70%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    margin-left: 60px;
}
#e1>div
{
    width: 32%;
    box-sizing: border-box;
}
.eimg
{
    max-width: 100%;
    max-height: 70%;
}
#stayintouch
{
    height: 400px;
    background-color: #f9f4ec;
    text-align: center;
    margin-top: -35px;
    /* display: grid; */
}
#stayintouch>p:nth-child(1){
    padding-top: 80px;
    font-size: 35px
}
#stay
{
    /* width: 20%; */
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    margin-top: 30px;
    margin-left: 8%;
}
#subp
{
    color: grey;
   
}
#stay>div:nth-child(1)
{
    width: 5%;
    background-color: white;
    height: 70%;
    margin-left: 308px;
    text-align: center;
    padding-bottom: 20px;
    
}
#num
{
    padding-top: 5px;
    padding-left: 17px;
}
#stay input
{
    width: 270%;
    background-color: white;
    height: 70%;
    border: none;
    /* margin-left: 308px; */
}
#stay>div:nth-child(3)
{
    background-color: grey;
    margin-left: 280px;
    height: 70%;
    width: 10%;
    color: white;
    font-size: 20px;
    text-align: center;
   
}
#sub
{
    padding-bottom: 50px;
    padding-right: 5px;
}
#stayintouch>p:nth-child(1), #stayintouch>p:nth-child(2)
{
    line-height: 15px;
}
.bysub{
    margin-left: 15%;
    /* border:1px solid black; */
}
#stay1
{
    display: flex;
    box-sizing: border-box;
    margin-left: 310px;
    margin-left: 31%;
}
#stay1>button{
    border: 1px solid 
    #a7a4a7;
    border-radius: 3px;
    width: 15px;
    height: 15px;
    background-color: white;
}
#stay1>div{
    margin-left: 10px;
    margin-top: -11px;
}
#stay1 p
{
    color: grey;
    font-size: 12px;
}
#stayintouch>div:last-child{
    font-size: 12px;
    text-decoration: underline;
    text-underline-offset: 0.4em;
    margin-left: -303px;
}
